.row{
    padding: 0.5rem;
}



.banner-image {
    
    background-size: cover;
  }

.btn{
    background: /* Gradient in Hex */
    linear-gradient(to right, #2F649A 0%, 14.479638636112213%, #70A6CA 28.959277272224426%, 48.12588369540075%, #BFC85B 67.29249011857708%, 83.64624505928853%, #747929 100%),
    
    /* Gradient in RGBA */
    linear-gradient(to right, rgba(47, 100, 154, 1) 0%, 14.479638636112213%, rgba(112, 166, 202, 1) 28.959277272224426%, 48.12588369540075%, rgba(191, 200, 91, 1) 67.29249011857708%, 83.64624505928853%, rgba(116, 121, 41, 1) 100%);
    ;
}