.banner-image {
    background-image: url('Images/background2.jpg');
    background-size: cover;
  }

body{
    background-image: url(Images/background2.jpg);
    background-size: cover;
}

/* Border Custom */
.border-custom {
    border: 1px solid #444;
    transition: all 0.4s ease-in-out;
}

.border-custom:hover {
    border-color: var(--bs-blue);
}

/* Service */
.icon {
    width: 60px;
    height: 60px;
    background-color: #555;
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 32px;
    color: white;
    transition: all 0.4s ease-in-out;
}

.icon:hover {
    background-color: var(--bs-blue);
}

.service:hover .icon {
    background-color: var(--bs-blue);
}

.card{
    width:90%;
    max-width:400px;
    padding: 5rem 2.5rem;

    border-radius:1rem;
    border:1px solid transparent;
    
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);

    border-top-color: rgba(225,225,225,0.5);
    border-left-color: rgba(225,225,225,0.5);
    border-bottom-color: rgba(225,225,225,0.1);
    border-right-color: rgba(225,225,225,0.1);


}

.cb2{
    color:black;
    background: linear-gradient(to right bottom, rgba(225,225,225,0.5), rgba(225,225,225,0.3));
}
