/*body*/
body{
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;

}


.title{
    margin: 60px;
    width:100%;
    max-width:40rem;
    font-size: 4rem;
    text-align:center;
}

/*card properties*/
.card{
    width:90%; 
    max-width:400px;
    padding: 5rem 2.5rem;

    /*setting round border*/
    border-radius:1rem;
    border:1px solid transparent; /*tranparent border*/
    
    /*creating a glass effect*/
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5); /*add shadow*/

    /*border color*/
    border-top-color: rgba(225,225,225,0.5);
    border-left-color: rgba(225,225,225,0.5);
    border-bottom-color: rgba(225,225,225,0.1);
    border-right-color: rgba(225,225,225,0.1);


}

/*card body background color*/
.cb2{
    color:black;
    background: linear-gradient(to right bottom, rgba(225,225,225,0.5), rgba(225,225,225,0.3));
}

/*properties of "Human Practices" button*/
.btn{
    border-radius: 2rem;
    /*border: rgba(5, 5, 5, 0.603);*/
    /*position: fixed;*/
    color: rgba(5, 5, 5, 0.603);
}

/*hover effect*/
.btn:hover{
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,0.3);
}
