details {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  summary {
    font-weight: bold;
    cursor: pointer;
    color: white;
  }
  
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }


